{{- $ThemeVersion := "3.31.0" -}}
<footer class="site-footer">
    <section class="copyright">
        &copy; 
        {{ if and (.Site.Params.footer.since) (ne .Site.Params.footer.since (int (now.Format "2006"))) }}
            {{ .Site.Params.footer.since }} – 
        {{ end }}
        {{ now.Format "2006" }}
        <a href="https://blog.airat.top" rel="bookmark">{{ default .Site.Title .Site.Copyright }}</a>
        |
        <a href="https://privacy.airat.top" target="_blank" rel="privacy-policy">Privacy Policy</a>
        |
        <a href="https://terms.airat.top" target="_blank" rel="terms-of-service">Terms of Use</a>
</footer>